h4 {
text-align: center;
}

p {
  text-align: center;
  padding-top: 40px;
}

.wbabtn{
position: relative;
left: 160px;
background-color:#666666;
font-family: Arial;
border-radius: 19px;
border-width: thin;
margin-top: 3em;
padding-top: 5px;
padding-bottom: 5px;


}



















.story {
    display: none;
}

.t2s{
    height: 20px;
    width: 20px;
}




#s1desc {
    display: none;
}
